<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
    <!-- Entête -->
    <div th:replace="~{../fragments/header :: header}"></div>

    <!-- Contenu -->
    <div class="container">
        <form  th:action="@{/client/portefeuille-achat}" th:object="${payload}" method="post">
            <div class="form-group">
                <label for="dropDownListClient">Client:</label>
                <select class="form-control" id="dropDownListClient" th:field="${payload.idClient}">
                    <option value="0"></option>
                    <option th:each="client : ${clients}" th:value="${client.idClient}" th:text="${client.nom} + ' ' + ${client.prenom}"></option>
                </select>
                <label for="dropDownListProduit">Produit:</label>
                <select class="form-control" id="dropDownListProduit" th:field="${payload.idProduit}">
                    <option value="0"></option>
                    <option th:each="optionproduit : ${produits}" th:value="${optionproduit.idProduit}" th:text="${optionproduit.libelle}"></option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Enregistrer</button>
        </form>
    </div>

    <!--Pied de page -->
    <div th:replace="~{../fragments/footer :: footer}"></div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>